/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
